---
import {globSync} from 'node:fs'
import path from 'node:path';

import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import PageSection from '@components/PageSection.astro'
import { Heading, Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

import Feat from '@assets/docs-feat.jpg'

function getPdfPaths(dirname: string) {
  return globSync('./public/docs/'+dirname+'/*.pdf')
    // Sort paths in ascending alphabetical order.
    .sort()
    // Convert path to href for link in deployed site ('/docs/...')
    // and the link text (filename, without extension).
    .map(str => {
      return {
        href:  str.replace('public',''),
        title: path.basename(str, '.pdf')
      };
    })
}

const lists = [
  {
    title: "Reports",
    paths: getPdfPaths('reports').reverse(),
  },
  {
    title: "Policies",
    paths: getPdfPaths('policies'),
  },
  {
    title: "IRS Returns",
    paths: getPdfPaths('irs-returns').reverse(),
  },
];

---

<DefaultLayout title="Documents">
  <PageHeader title="Documents" subtitle="Take a look through the archives." featuredImage={Feat}/>
  <PageSection class={"my-24 grid" +
    " grid-cols-1 gap-24 items-start" +
    " md:grid-cols-3 md:gap-8 md:justify-items-center"}
  >
    <!-- Loop over each list of files: -->
    {lists.map((dir) => (
      
      <div class="grid grid-cols-1 gap-xs items-left file-list">
        {/* Write out title of list. */}
        <Heading level="h2" size="h3" class="mb-4">{dir.title}</Heading>

        {/* Loop over paths in list, write out link for each one. */}
        {dir.paths.map((doc) => (

          <Link href={doc.href} isExternal hideIcon >
            <Icon aria-hidden="true" name="lucide:file-down" size={20} />
            {doc.title}
            <span class="sr-only">Opens in a new tab</span>
          </Link>

        ))}
      </div>
    ))}
  </PageSection>

</DefaultLayout>