---
//import { globSync } from 'node:fs';
import path from 'node:path';

import PageLayout from '@/layouts/PageLayout.astro'
import { Link } from '@/components/base'

import feat from '@/assets/docs-feat.jpg'

function getPdfPaths(dirname: string) {
  /*
  return globSync('./public/docs/'+dirname+'/*.pdf')
    // Sort paths in ascending alphabetical order.
    .sort()
    // Convert path to href for link in deployed site ('/docs/...')
    // and the link text (filename, without extension).
    .map(str => {
      return {
        href:  str.replace('public',''),
        title: path.basename(str, '.pdf')
      };
    });
  */

  /*
   globSync not yet supported on cf workerd, though it's very close.
   In the meantime, use this goofy workaround with import.meta.glob. It's
   painful because the path has to be a string literal.
   */
  
  let imported: Record<string, ()=>Promise<any>> | undefined;
  switch(dirname) {
    case "reports": 
      imported = import.meta.glob('/public/docs/reports/*.pdf');
      break;
    case "policies":
      imported = import.meta.glob('/public/docs/policies/*.pdf');
      break;
    case "irs-returns":
      imported = import.meta.glob('/public/docs/irs-returns/*.pdf');
      break;
  }
  if (!imported) {
    throw new Error(`Unrecognized docs import directory: '${dirname}'`);
  }

  return Object.keys(imported)
    // Sort paths in ascending alphabetical order.
    .sort()
    // Convert path to href for link in deployed site ('/docs/...')
    // and the link text (filename, without extension).
    .map(str => {
      return {
        href:  str.replace('/public',''),
        title: path.basename(str, '.pdf')
      };
    })
}

const lists = [
  {
    title: "Reports",
    paths: getPdfPaths('reports').reverse(),
  },
  {
    title: "Policies",
    paths: getPdfPaths('policies'),
  },
  {
    title: "IRS Returns",
    paths: getPdfPaths('irs-returns').reverse(),
  },
];

---

<PageLayout title="Documents" subtitle="Take a look through the archives." featuredImage={feat}
  class:list={[
    "flex flex-col md:flex-row gap-2xl md:gap-3xl",
    "md:justify-center"
  ]}
>
  {/* Loop over each list of files: */}
  {lists.map((dir) => (
    
    <section class="flex flex-col gap-xs items-start">
      {/* Write out title of list. */}
      <h2 class="text-h3">{dir.title}</h2>

      {/* Loop over paths in list, write out link for each one. */}
      {dir.paths.map((doc) => (

        <Link href={doc.href} openAsNew>
          {doc.title}
        </Link>

      ))}
    </section>
  ))}
</PageLayout>