---
import PageLayout from '@/layouts/PageLayout.astro'
import Hero from '@/components/Hero.astro'
import { BlockQuote, ContentImage, Link } from '@/components/base'

import HeroImg from '@/assets/hero.webp'
import Img1 from '@/assets/contact-feat.jpg'

---

<PageLayout title="Home" showHeading={false} renderBlock="#hero-image">
  <Hero featuredImage={HeroImg}/>

  <section class="mt-xl max-w-vw-md w-[90%] sm:w-[70%] place-self-center">
    <BlockQuote author=" - Matthew 5:16">
      In the same way, let your light shine before others, that they may see your
      good deeds and glorify your Father in heaven.
    </BlockQuote>
  </section>

  <section>
    <ContentImage img={Img1} alt="">
      <h2 class="mb-lg">Accessible components</h2>
      <p class="text-2xl">
        This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a
        lot of others are integrated using a <Link openAsNew
          href="https://github.com/incluud/accessible-astro-components">separate package</Link
        >. They'll get you up and running in building an accessible solution for your visitors.
      </p>
    </ContentImage>
  </section>

  <section>
    <ContentImage img={Img1} reverseImg={true} alt="">
      <h2 class="mb-lg">WCAG 2.2 AA compliant</h2>
      <p class="text-2xl">
        Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
        navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
        reaching WCAG AA compliance.
      </p>
    </ContentImage>
  </section>

</PageLayout>