---
import { Icon } from "@/components/base";
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";
import { tv, type VariantProps } from "tailwind-variants";

/**
 * Button component.
 * 
 * By default, the button is sized appropriately for the current font size -
 * so it can be resized by applying classes like 'text-lg'.
 * 
 * If you make the button a link by providing 'href', the underlying HTML
 * element will be <a> instead of <button>, for accessibility.
 */
interface Props extends
  HTMLAttributes<"button">,
  Omit<HTMLAttributes<"a">, "type">,
  Omit<VariantProps<typeof button>, "content"> {

  /**
   * Text to display inside the button.
   * 
   * You can omit this and only provide one of the icons instead, though
   * make sure you set "alt" to something descriptive for screenreaders if
   * you do so.
   */
  label?: string,

  /**
   * Text description of the button for screen-readers. Not shown visibly.
   * 
   * If both a visible label and an alt are provided, only the alt will be read
   * by screen readers - the visible label will be silent. Try not to do this,
   * though - having different text for sighted and non-sighted users is not
   * ideal for accessibility.
   */
  alt?: string,

  /**
   * Icon to display inside the button, inline after any contents.
   * 
   * Icon lookup will be performed by the base/icon component.
   */
  icon?: string,

  /**
   * Icon to display inside the button, inline before any contents.
   * 
   * Icon lookup will be performed by the base/icon component.
   */
  iconBefore?: string,

  /**
   * Any additional classes or overrides to pass to the embedded icon(s).
   */
  iconClass?: string,
}

const {
  label,
  variant,
  animation,
  alt,
  iconBefore,
  icon,
  iconClass,
  class: className,
  ...rest
} = Astro.props;

const content = label? "hasText" : "iconOnly";

const iconClassName = twMerge(
  label? "h-[1.8em]" : "h-[2.2em]",
  "w-auto pointer-events-none",
  iconClass
);

export const button = tv({
  base: [
    "inline-flex items-center justify-center font-medium whitespace-nowrap",
    "h-[3em] gap-[1ch] rounded-sm shadow-xs border-solid border-[0.15em]",
    "transition-[color,background-color] duration-200"
  ],
  variants: {
    /* Don't try to set this yourself, this variable is hardcoded above. */
    content: {
      hasText: "px-[0.6em]",
      iconOnly: "px-[0.4em]",
    },
    variant: {
      /* Default button: swap the site-default background/foreground */
      default: [
        "text-background bg-foreground border-foreground/80",
        "hocus:bg-foreground/90 activated:bg-foreground/80",
      ],

      /* These buttons use specific colors defined in our theme, both normally and on hover.*/
      primary: [
        "text-primary-foreground bg-primary border-primary-accent",
        "hocus:bg-primary/90 activated:bg-primary-accent",
      ],
      secondary: [
        "text-secondary-foreground bg-secondary border-secondary-accent",
        "hocus:bg-secondary/90 activated:bg-secondary-accent",
      ],
            
      /* These buttons use the current color normally, but change their look to a specific color on hover. */
      outline: [
        "hocus:text-foreground border-input",
        "hocus:bg-muted activated:bg-muted-dark",
      ],
      ghost: [
        "hocus:text-foreground shadow-sm border-transparent",
        "hocus:bg-muted activated:bg-muted-dark",
      ],
    },
    animation: {
      "none": "",
      "rotate": "motion-safe:hocus:[&_svg]:animate-rotate",
      "raise": "motion-safe:hocus:animate-raise",
      "boop": "motion-safe:hocus:[&_svg]:animate-boop",
      "raise-boop": [
        "motion-safe:hocus:animate-raise",
        "motion-safe:hocus:[&_svg]:animate-boop",
      ],
    },
  },
  defaultVariants: {
    variant: "default",
    animation: "raise-boop"
  },
});

const Tag = Astro.props.href ? "a" : "button";
---

<Tag class={button({ content, variant, animation, class: className })} {...rest}>
  {iconBefore && (
    <Icon name={iconBefore} class={iconClassName}/>
  )}

  {(label && alt)?
    (<span aria-hidden="true">{label}</span>)
    :
    label && (<Fragment>{label}</Fragment>)
  }
  
  {icon && (
    <Icon name={icon} class={iconClassName}/>
  )}

  {alt && (
    <span class="sr-only">{alt}</span>
  )}
</Tag>
