---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "@/components/base";
import { twMerge } from "tailwind-merge";

type Props = Omit<
  HTMLAttributes<"input"|"textarea">,
  "id" | "type" | "autocomplete" | "aria-describedby"
> & {

  /**
   * Display name of the field, visible to the user.
   */
  label: string,

  /**
   * Internal name of the field, visible to code that processes form submissions.
   */
  name: string,

  /**
   * What kind of data we're collecting.
   *  - text: one line of generic text
   *  - textarea: multiple lines of text
   *  - checkbox: one checkbox on its own
   *  - name: full name (one line)
   *  - email: email address (one line)
   *  - tel: phone number (one line)
   * 
   * Textareas default to max length of 1500 chars; all others
   * default to maxlength of 255 chars.
   * 
   * @default "text"
   */
  type: "text" | "textarea" | "checkbox"
      | "full-name" | "first-name" | "last-name"
      | "email" | "tel",

  /**
   * Is this field required for a succcessful form submission?
   * 
   * @default false
   */
  required?: boolean,

  /**
   * Additional classes to apply to the field label, which also acts
   * as a layout container for the error message and the field itself.
   */
  class?: string | string[],

  /**
   * Additional classes to apply to the form field itself.
   */
  fieldClass?: string | string[],

  /**
   * Additional classes to apply to the form field inline-error container.
   */
  errorClass?: string | string[],
};

const {
  label,
  name,
  type = "text",
  required = false,
  class: className,
  fieldClass,
  errorClass,
  ...rest
} = Astro.props;

// Generate unique-per-page, sequentially-numbered id's for each form field,
// using the given prefix.
//
// see middleware.ts for the "id" function.
const inputId = Astro.locals.id(`form-${name}`);
const errId = Astro.locals.id(`form-${name}-err`);

let autoAttrs: HTMLAttributes<"input"> | HTMLAttributes<"textarea"> = {};
let autoClass: string | null = null;
switch (type) {
  case "textarea":
    autoAttrs = { autocapitalize: "sentences", autocorrect: "on" };
    autoClass = "resize-y h-[10.5em]"
    break;
  case "full-name":
    autoAttrs = { type: "text", autocomplete: "name",
      spellcheck: "false", autocapitalize: "words", autocorrect: "off"
     };
    break;
  case "first-name":
    autoAttrs = { type: "text", autocomplete: "given-name",
      spellcheck: "false", autocapitalize: "words", autocorrect: "off"
     };
    break;
  case "last-name":
    autoAttrs = { type: "text", autocomplete: "family-name",
      spellcheck: "false", autocapitalize: "words", autocorrect: "off"
     };
    break;
  case "email":
    autoAttrs = { type: "email", autocomplete: "email" };
    break;
  case "tel":
    autoAttrs = { type: "tel", autocomplete: "tel" };
    break;
}

autoAttrs.maxlength = (type==="textarea")? "1500" : "255";
const Tag = (type === "textarea")? "textarea" : "input";

---

{/*
  We nest the error message and input field inside the label for a couple of reasons:
    
  * Nesting causes the error message to be included in the label's clickable area.
  This is helpful because we're showing the error messages above the field, right
  below the label text, so that they don't get blocked by autocomplete boxes, and
  it's awkward to have a gap in clickable area between the two.

  * Nesting the field as well makes it easier to avoid accidentally introducing
  clickable area gaps through margins and such.
  
  * Finally, if we nest everything, we can use the label element as the overall
  layout container for the field, too. This avoids having to add a wrapper div.

  Because screen readers don't always interpret nesting properly, we still link
  the label to the input field using "for", and we link the error message to it
  using aria-describedby. The error message itself is marked with aria-hidden="true"
  to prevent it from being read in any other context than through aria-describedby.
*/}

<label for={inputId} class={twMerge(
  "group/field w-full px-xs text-md has-enabled:cursor-pointer",
  "has-aria-invalid:border-l-error-accent has-aria-invalid:border-l-4",
  className)}
>
  {/* Label text. */}
  {label}
  {required && (
    <span aria-hidden="true" class="font-light text-current/90 text-[90%]"> (required)</span>
  )}

  {/* Error message. Always hide with aria-hidden, so that it's only read via aria-describedby. */}
  <div aria-hidden="true" class={twMerge(
    "hidden group-has-aria-invalid/field:block",
    "w-full text-sm text-error ms-[0.5em]",
    errorClass
  )}>
    <Icon name="tabler:alert-triangle" size="1em" class="text-error-accent mbe-[0.12em] me-[0.25em]"/>
    <span id={errId}></span>
  </div>

  {/* Input field. */}
  <Tag id={inputId} name={name} data-name={name} aria-describedby={errId} data-err={errId} required={required}
    class={twMerge(
      "base-form-field w-full px-[1em] py-[0.35em] rounded-md",
      "border aria-invalid:border-2",
      "text-current/90 text-base",
      autoClass, fieldClass)}
    {...autoAttrs /* astro will make attributes passed in by the user override those in ...autoAttrs, if ...rest is last */}
    {...rest}
  >
  </Tag>
</label>