---
import { twMerge } from 'tailwind-merge';

import type { HTMLAttributes } from 'astro/types';

import {
  Link,
  Modal,
  NavDisclosure,
  NavDisclosureItem,
  DarkModeToggle,
  Button
} from "@/components/base";


/**
 * A navigation link to display.
 */
export interface NavLink {
  /**
   * Visible text of the link.
   */
  label: string,
  /**
   * URL of the link's target.
   */
  href: string,
  /**
   * If true, this link will not be included on the full-width nav bar.
   * @default false
   */
  excludeFromFull?: boolean,
  /**
   * If true, this link will not be included in the mobile nav panel.
   * @default false
   */
  excludeFromMobile?: boolean,
}

export interface NavIcon {
  /**
   * File ID of the SVG icon to include. Will be resolved using base/icon.
   * 
   * Might be something like "facebook" to resolve a custom icon named "facebook.svg"
   * in src/assets/icons, or a reference to an installed icon set like "tabler:brand-facebook".
   */
  icon: string,
  /**
   * URL of the icon link's target.
   */
  href: string,
  /**
   * Alternate text to use for screen readers.
   */
  alt: string
}

/**
 * Basic nav
 *
 * @description A component that displays the navigation of the website
 * 
 * Provides a full nav-bar at the top on wide screens, or a logo + hamburger
 * bar at the top with a slide-out side nav panel on narrower screens.
 */
export interface Props extends HTMLAttributes<"nav"> {
  /**
   * The main site logo or title - rendered in the default slot.
   * This should typically be a link to Home, but can be any valid HTML content.
   */
  children: any; 

  /**
   * List of navigation links.
   */
  links: NavLink[];

  /**
   * List of social icons for the mobile nav menu icon tray.
   */
  icons?: NavIcon[];

  /**
   * Maximum number of visible links that can be displayed side-by-side in the
   * full nav bar. If you provide more links than this, the remainder will be put
   * in a disclosure at the end of the list.
   * 
   * @default 5
   */
  maxVisibleLinks?: number;

  /**
   * Label to use for the disclosure containing any links that wouldn't fit on
   * the full nav bar.
   * 
   * @default More
   */
  disclosureLabel?: string;

  /**
   * Include a dark mode toggle button at the end of the icon tray.
   * 
   * @default true
   */
  darkModeToggle?: boolean;

  /**
   * Title displayed on mobile nav panel.
   * 
   * @default "Main Menu"
   */
  mobileTitle?: string;
};

const {
  class: className,
  links,
  icons,
  maxVisibleLinks = 5,
  disclosureLabel = 'More',
  darkModeToggle = true,
  mobileTitle = "Main Menu",
  ...rest
} = Astro.props;

// Make separate lists of links and icons for the full and mobile nav, and remove
// any excluded items from them.
const fullLinks = links.filter((link) => !link.excludeFromFull);
const mobileLinks = links.filter((link) => !link.excludeFromMobile);

// If we have more links than we can visibly display on the full nav, add a
// disclosure menu to the end of the list to contain the overflow.
const doDisclosure = (fullLinks.length > maxVisibleLinks);
const split = doDisclosure? maxVisibleLinks - 1 : fullLinks.length;

// If we need to display at least one icon, add icon trays for full and mobile
// nav.
const mobileIconTray = darkModeToggle || icons?.length;
---

<nav id="main-navigation"
  class={twMerge([
    "max-w-(--content-max) mx-auto px-2xs pt-2xs",
    "flex sm:flex-wrap gap-y-sm items-center w-full",
    className
  ])} {...rest}>
  
  {/* Logo / Home Link */}
  <div class="flex shrink-2 place-items-center mr-lg">
    <slot />
  </div>
  
  <div class="ml-auto my-auto">
    {/* Full menu: visible when width >= sm */}
    <ul class="hidden sm:flex sm:flex-wrap text-md [&>li]:flex [&>li]:place-items-center">
    
      {/* Main text links along the top. */}
      {fullLinks.slice(0,split).map((link) => (
      <li>
        <Link href={link.href} variant="nav"
          class="py-2xs px-[1ch] flex items-center"
        >
          {link.label}
        </Link>
      </li>
      ))}

      {/* Add additional links inside a disclosure, if necessary. */}
      {doDisclosure && (
      <li>
        <NavDisclosure align="end" variant="ghost" animation="none"
          label={disclosureLabel}
          icon="tabler:chevrons-down"
          buttonClass="px-[1ch] gap-[0.8ch] shadow-none font-normal h-full activated:[&>svg]:-scale-y-100"
          iconClass="-ml-[0.5ch] transition-[scale] delay-100 duration-250 h-[1.5em]"
        >
          {fullLinks.slice(split).map((link) => (
          <NavDisclosureItem>
            <Link href={link.href} variant="nav">
              {link.label}
            </Link>
          </NavDisclosureItem>
          ))}
        </NavDisclosure>
      </li>
      )}
    </ul>

    {/* Menu button: visible when width < sm.
        Mobile nav menu that opens when menu button is clicked.
      */
    }
    <div class="flex sm:hidden shrink items-center max-2xs:text-base">
      <Modal location="right" label="Menu" animation="raise-boop" icon="tabler:menu-2">
        <h2 class="text-2xl font-medium absolute top-sm left-sm">
          {mobileTitle}
        </h2>
        <ul class:list={[
          "grow flex flex-col",
          "mx-sm mb-sm mt-[calc(var(--spacing-md)+var(--spacing-sm))]"
        ]}>
          {/* List of nav links. */}
          <div class:list={[
            "flex flex-col justify-center grow text-lg sm-tall:text-2xl",
            "[&_a]:py-xs sm-tall:[&_a]:py-sm",
            "mt-xs pt-xs border-t-2 border-border"
          ]}>
            {mobileLinks.map((link) => (
            <li>
              <Link href={link.href} variant="nav" class="pl-sm w-full">
                {link.label}
              </Link>
            </li>
            ))}
          </div>

          {/* Icon tray */}
          {mobileIconTray && (
          <div class="flex justify-around text-base mt-xs pt-xs border-t-2 border-border [&>li]:flex [&>li]:place-items-center">
            {/* Add social icons to the icon tray. */}
            {icons?.map((item) => (
            <li>
              <Button href={item.href} alt={item.alt} icon={item.icon}
                      animation="rotate" variant="ghost"/>
            </li>
            ))}
            {/* Add dark mode toggle to the icon tray. */}
            {darkModeToggle && (
            <li>
              <DarkModeToggle iconOff="tabler:sun" iconOn="tabler:moon"/>
            </li>
            )}
          </div>
          )}
        </ul>
      </Modal>
    </div>
</nav>