---
import { Icon } from 'astro-icon/components'
import { twMerge } from 'tailwind-merge';

import type { HTMLAttributes } from 'astro/types';

import { Link, NavDisclosure, NavDisclosureItem } from "@/components/base"
import { Button } from "@/components/starwind/button";
import { ThemeToggle } from "@/components/starwind/theme-toggle";
import { Sheet, SheetContent, SheetTrigger, } from "@/components/starwind/sheet";


/**
 * A navigation link to display.
 */
export interface NavLink {
  /**
   * Visible text of the link.
   */
  label: string,
  /**
   * URL of the link's target.
   */
  href: string,
  /**
   * If true, this link will not be included on the full-width nav bar.
   * @default false
   */
  excludeFromFull?: boolean,
  /**
   * If true, this link will not be included in the mobile nav panel.
   * @default false
   */
  excludeFromMobile?: boolean,
}

export interface NavIcon {
  /**
   * File ID of the SVG icon to include. Will be resolved using astro-icon.
   * 
   * Might be something like "facebook" to resolve a custom icon named "facebook.svg"
   * in src/assets/icons, or a reference to an installed icon set like "tabler:facebook".
   */
  file: string,
  /**
   * URL of the icon link's target.
   */
  href: string,
  /**
   * Alternate text to use for screen readers.
   */
  alt: string,
  /**
   * If true, this icon link will not be included on the full-width nav bar.
   * @default false
   */
  excludeFromFull?: boolean,
  /**
   * If true, this icon link will not be included on the mobile nav panel.
   * @default false
   */
  excludeFromMobile?: boolean,
}

/**
 * Basic nav
 *
 * @description A component that displays the navigation of the website
 * 
 * Provides a full nav-bar at the top on wide screens, or a logo + hamburger
 * bar at the top with a slide-out side nav panel on narrower screens.
 */
export interface Props extends HTMLAttributes<"nav"> {
  /**
   * The main site logo or title - rendered in the default slot.
   * This should typically be a link to Home, but can be any valid HTML content.
   */
  children: any; 

  /**
   * List of navigation links.
   */
  links: NavLink[],

  /**
   * List of custom icons for the navigation icon tray.
   * 
   * These are usually used for social links.
   */
  icons?: NavIcon[],

  /**
   * Maximum number of visible links that can be displayed side-by-side in the
   * full nav bar. If you provide more links than this, the remainder will be put
   * in a disclosure at the end of the list.
   * 
   * @default 4
   */
  maxVisibleLinks?: number,

  /**
   * Label to use for the disclosure containing any links that wouldn't fit on
   * the full nav bar.
   * 
   * @default More
   */
  disclosureLabel?: string,

  /**
   * Include a dark mode toggle button at the end of the icon tray.
   * 
   * @default true
   */
  darkModeToggle?: boolean;

  /**
   * Title displayed on mobile nav panel.
   * 
   * @default "Main Menu"
   */
  mobileTitle?: string;
};

const {
  class: className,
  links,
  icons,
  maxVisibleLinks = 4,
  disclosureLabel = 'More',
  darkModeToggle = true,
  mobileTitle = "Main Menu",
  ...rest
} = Astro.props;

// Make separate lists of links and icons for the full and mobile nav, and remove
// any excluded items from them.
const fullLinks = links.filter((link) => !link.excludeFromFull);
const mobileLinks = links.filter((link) => !link.excludeFromMobile);

const fullIcons = icons?.filter((icon) => !icon.excludeFromFull);
const mobileIcons = icons?.filter((icon) => !icon.excludeFromMobile);

// If we have more links than we can visibly display on the full nav, add a
// disclosure menu to the end of the list to contain the overflow.
const doDisclosure = (fullLinks.length > maxVisibleLinks);
const split = doDisclosure? maxVisibleLinks - 1 : fullLinks.length;

// If we need to display at least one icon, add icon trays for full and mobile
// nav.
const fullIconTray = darkModeToggle || fullIcons?.length;
const mobileIconTray = darkModeToggle || mobileIcons?.length;
---

<nav id="main-navigation"
  class={twMerge([
    "max-w-(--content-max) mx-auto px-(--sp-2xs)",
    "flex flex-wrap items-start w-full",
    className
  ])}>
  
  {/* Logo / Home Link */}
  <div class="flex shrink-2 place-items-center mr-(--sp-lg)">
    <slot />
  </div>
  
  <div class="shrink-0 ml-auto my-auto">
    {/* Full menu: visible when width >= sm */}
    <ul class="hidden sm:flex">
    
    { /* Main text links along the top. */
      fullLinks.slice(0,split).map((link) => (
      <li>
        <Link href={link.href} variant="nav"
          class="py-(--sp-2xs) px-(--sp-xs) flex items-center"
        >
          {link.label}
        </Link>
      </li>
    ))}

    { /* Add additional links inside a disclosure, if necessary. */
      doDisclosure && (
        <li>
          <NavDisclosure
            align="end"
            class="py-(--sp-3xs)"

            variant="ghost" size="lg"
            buttonClass={["text-md px-(--sp-xs)! mx-0! font-normal!",
              "[&_svg]:transition-transform [&_svg]:duration-350",
              "aria-expanded:bg-muted-dark hover:aria-expanded:bg-muted-dark",
              "hover:motion-safe:[&_svg]:animate-boop",
              "aria-expanded:[&_svg]:-scale-y-100"]}
          >
            <Fragment slot="button">
              {disclosureLabel}
              <Icon name="tabler:chevrons-down" aria-hidden="true"/>
            </Fragment>

            {fullLinks.slice(split).map((link) => (
              <NavDisclosureItem>
                <Link href={link.href} variant="nav" class="text-md">
                  {link.label}
                </Link>
              </NavDisclosureItem>
            ))}
          </NavDisclosure>
        </li>
      )
    }

      {fullIconTray && (        
      <div class="flex space-x-(--sp-xs) pl-(--sp-xs) border-l-2 border-border">
      
        { /* Add social icons to the icon tray. */
          fullIcons?.map( (icon) => (
            <li class="flex shrink-0 items-center">
              <Link href={icon.href} variant="icon-xs" class="active:bg-muted-dark">
                <span class="sr-only">{icon.alt}</span>
                <Icon name={icon.file} aria-hidden="true" size={28}/>
              </Link>
            </li>
          ))
        }

        {/* Add dark mode toggle to the icon tray. */
          darkModeToggle && (
            <li class="flex shrink-0 items-center">
              <ThemeToggle size="icon-xs" ariaLabel="Toggle dark mode"
                class:list={["[&_svg]:size-7",
                  "motion-safe:hover:[&_svg]:animate-rotate",
                  "motion-safe:focus-visible:[&_svg]:animate-rotate"]}
              />
            </li>
          )
        }
      </div>
      )}
    </ul>

    {/* Menu button: visible when width < sm */}
    <div class="flex sm:hidden shrink items-center">
      <SheetTrigger asChild for="mobile-nav">
        <Button size="custom" animation="raise-boop"
          class="h-12 px-6 text-md gap-[1ch]"
        >
          Menu
          <Icon name="tabler:menu-2" aria-hidden="true" />
        </Button>
      </SheetTrigger>
    </div>

    {/* Mobile nav menu that opens when menu button is clicked. */}
    <Sheet id="mobile-nav">
      <SheetContent side="right">
        <h2 class="text-2xl font-medium absolute top-(--sp-xs) left-(--sp-sm)">
          {mobileTitle}
        </h2>
        <ul class="flex flex-col h-full mx-(--sp-sm) mb-(--sp-sm) mt-[calc(var(--sp-md)+var(--sp-sm))]">
          {/* List of nav links. */}
          <div class:list={[
            "flex flex-col justify-center grow",
            "text-lg sm-tall:text-2xl [&_a]:py-(--sp-xs) sm-tall:[&_a]:py-(--sp-sm) [&_a]:px-(--sp-sm)",
            "mt-(--sp-xs) pt-(--sp-xs) border-t-2 border-border"
          ]}>
            {mobileLinks.map((link) => (
            <li>
              <Link href={link.href} variant="nav">
                {link.label}
              </Link>
            </li>
            ))}
          </div>

          {/* Icon tray */
            mobileIconTray && (
          
            <div class="flex flex-row shrink-0 justify-around mt-(--sp-xs) pt-(--sp-xs) border-t-2 border-border">
              {/* Add social icons to the icon tray. */
              mobileIcons?.map( (icon) => (
                <li>
                  <Link href={icon.href} variant="icon" class="active:bg-muted-dark">
                    <span class="sr-only">{icon.alt}</span>
                    <Icon name={icon.file} aria-hidden="true" size={32}/>
                  </Link>
                </li>
              ))}
              {/* Add dark mode toggle to the icon tray. */
              darkModeToggle && (
              <li class="flex shrink-0 items-center">
                <ThemeToggle ariaLabel="Toggle dark mode"
                  class:list={["[&_svg]:size-8!",
                    "motion-safe:hover:[&_svg]:animate-rotate",
                    "motion-safe:focus-visible:[&_svg]:animate-rotate"]}/>
              </li>
              )}
            </div>
          )}
        </ul>
      </SheetContent>
    </Sheet>
  </div>
</nav>
