---
import { Icon } from 'astro-icon/components'

import { Link, NavDisclosure, NavDisclosureItem } from "@/components/base"
import { Button } from "@/components/starwind/button";
import { ThemeToggle } from "@/components/starwind/theme-toggle";
import { Sheet, SheetContent, SheetTrigger, } from "@/components/starwind/sheet";


export interface NavLink {
  label: string,
  href: string
}
export interface NavIcon {
  file: string,
  href: string,
  alt: string
}
export interface NavData {
  maxVisibleLinks?: number,
  darkModeToggle?: boolean,
  disclosureLabel?: string,
  links: NavLink[],
  icons: NavIcon[],
}


/**
 * Header Component
 *
 * @description A component that displays the logo and navbar of the website
 */

const nav: NavData = {
  maxVisibleLinks: 4,
  links: [
    { label: "Services",
      href:  "/services/",
    },
    { label: "Give",
      href:  "/give/",
    },
    { label: "Contact",
      href:  "/contact/",
    },
    { label: "Volunteer",
      href:  "/volunteer/",
    },
    { label: "News",
      href:  "/news/"
    },
    { label: "Our Values",
      href:  "/our-values/"
    },
    { label: "Documents",
      href:  "/documents/"
    },
  ],
  icons: [
    { file: 'facebook',
      href: "https://facebook.com/cccgainesville",
      alt:  "Go to our Facebook page",
    },
    { file: 'instagram',
      href: "https://instagram.com/cccmainoffice",
      alt:  "Go to our Instagram page",
    },
  ]
}

// Set default values for optional components.
nav.maxVisibleLinks ??= 4;
nav.darkModeToggle ??= true;
nav.disclosureLabel ??= 'More';

// If we have more links than we can visibly display, add a disclosure menu
// to the end.
const doDisclosure = (nav.links.length > nav.maxVisibleLinks);
const split = doDisclosure? nav.maxVisibleLinks - 1 : nav.links.length;
---

<header class:list={[
  "text-md py-(--sp-md) bg-background/80 backdrop-blur-lg",
  /* Make the navbar sticky on mobile: */
  "max-sm:sticky max-sm:shadow-md max-sm:top-0 max-sm:z-50"
]}>
  
  {/* Skip Link (hidden, but becomes visible when focused by pressing "tab" key) */}
  <a href="#main-content" class:list={[
      "rounded-lg sr-only focus-visible:not-sr-only",
      "focus-visible:bg-wb focus-visible:text-bw",
      "focus-visible:absolute focus-visible:top-(--sp-sm) focus-visible:left-(--sp-sm)",
      "focus-visible:z-50 focus-visible:p-(--sp-sm)"]} >
    Skip to main content
  </a>

  <nav id="main-navigation"
    class="max-w-(--content-max) mx-auto h-(--sp-2xl) px-(--sp-2xs) flex justify-between items-center">
    
    {/* Logo / Home Link */}
    <div class="flex shrink-2 place-items-center mr-(--sp-lg)">
      <a href="/" class="hover:bg-muted active:bg-muted-dark p-1">
        <Icon name="logo-wide-light" aria-hidden="true" width="100%" height="100%"
          class="block dark:hidden max-w-76 aspect-488/120"
        />
        <Icon name="logo-wide-dark" aria-hidden="true" width="100%" height="100%"
          class="hidden dark:block max-w-76 aspect-488/120"
        />
        <span class="sr-only">Home</span>
      </a>
    </div>

    
    <div class="shrink-0">
      {/* Full menu: visible when width >= fullnav */}
      <ul class="hidden fullnav:flex">
      
      { /* Main text links along the top. */
        nav.links.slice(0,split).map((item) => (
        <li>
          <Link href={item.href} variant="nav"
            class="py-(--sp-2xs) px-(--sp-xs) flex items-center"
          >
            {item.label}
          </Link>
        </li>
      ))}

      { /* Add additional links inside a disclosure, if necessary. */
        doDisclosure && (
          <li>
            <NavDisclosure
              align="end"
              class="py-(--sp-3xs)"

              variant="ghost" size="lg"
              buttonClass={["text-md px-(--sp-xs)! mx-0! font-normal!",
                "[&_svg]:transition-transform [&_svg]:duration-350",
                "aria-expanded:bg-muted-dark hover:aria-expanded:bg-muted-dark",
                "hover:motion-safe:[&_svg]:animate-boop",
                "aria-expanded:[&_svg]:-scale-y-100"]}
            >
              <Fragment slot="button">
                {nav.disclosureLabel}
                <Icon name="tabler:chevrons-down" aria-hidden="true"/>
              </Fragment>

              {nav.links.slice(split).map((link) => (
                <NavDisclosureItem>
                  <Link href={link.href} variant="nav" class="text-md">
                    {link.label}
                  </Link>
                </NavDisclosureItem>
              ))}
            </NavDisclosure>
          </li>
        )
      }

        <div class="flex space-x-(--sp-xs) pl-(--sp-xs) border-l-2 border-border">
        { /* Add social icons to the icon tray. */
          nav.icons.map( (icon) => (
            <li class="flex shrink-0 items-center">
              <Link href={icon.href} variant="icon-xs" class="active:bg-muted-dark">
                <span class="sr-only">{icon.alt}</span>
                <Icon name={icon.file} aria-hidden="true" size={28}/>
              </Link>
            </li>
          ))
        }

        {/* Add dark mode toggle to the icon tray. */}
          <li class="flex shrink-0 items-center">
            <ThemeToggle size="icon-xs" ariaLabel="Toggle dark mode"
              class:list={["[&_svg]:size-7",
                "motion-safe:hover:[&_svg]:animate-rotate",
                "motion-safe:focus-visible:[&_svg]:animate-rotate"]}
            />
          </li>
        </div>
      </ul>

      {/* Menu button: visible when width < fullnav */}
      <div class="flex fullnav:hidden shrink items-center">
        <SheetTrigger asChild for="mobile-nav">
          <Button size="custom" animation="raise-boop"
            class="h-12 px-6 text-md gap-[1ch]"
          >
            Menu
            <Icon name="tabler:menu-2" aria-hidden="true" />
          </Button>
        </SheetTrigger>
      </div>

      {/* Mobile nav menu that opens when menu button is clicked. */}
      <Sheet id="mobile-nav">
        <SheetContent side="right">
          <h2 class="text-2xl font-medium absolute top-(--sp-xs) left-(--sp-sm)">
            Menu
          </h2>
          <ul class="flex flex-col h-full mx-(--sp-sm) mb-(--sp-sm) mt-[calc(var(--sp-md)+var(--sp-sm))]">
            {/* List of nav links. */}
            <div class:list={[
              "flex flex-col justify-center grow",
              "text-lg sm-tall:text-2xl [&_a]:py-(--sp-xs) sm-tall:[&_a]:py-(--sp-sm) [&_a]:px-(--sp-sm)",
              "mt-(--sp-xs) pt-(--sp-xs) border-t-2 border-border"
            ]}>
              <li>
                <Link href="/" variant="nav">
                  Home
                </Link>
              </li>

              {nav.links.map((link) => (
              <li>
                <Link href={link.href} variant="nav">
                  {link.label}
                </Link>
              </li>
              ))}
            </div>

            {/* Icon tray */}
            <div class="flex flex-row shrink-0 justify-around mt-(--sp-xs) pt-(--sp-xs) border-t-2 border-border">
              {/* Add social icons to the icon tray. */
              nav.icons.map( (icon) => (
                <li>
                  <Link href={icon.href} variant="icon" class="active:bg-muted-dark">
                    <span class="sr-only">{icon.alt}</span>
                    <Icon name={icon.file} aria-hidden="true" size={32}/>
                  </Link>
                </li>
              ))}
              {/* Add dark mode toggle to the icon tray. */}
              <li class="flex shrink-0 items-center">
                <ThemeToggle ariaLabel="Toggle dark mode"
                  class:list={["[&_svg]:size-8!",
                    "motion-safe:hover:[&_svg]:animate-rotate",
                    "motion-safe:focus-visible:[&_svg]:animate-rotate"]}/>
              </li>
            </div>
          </ul>
        </SheetContent>
      </Sheet>
    </div>
  </nav>
</header>
