---
/**
 * A disclosure (hidden contents revealed by a button trigger), specialized
 * for navigation menus. Uses the native popover API, which handles accessibility
 * for us without needing javascript.
 * 
 * This is not a flyout menu that reveals itself on hover/focus - those are
 * bad for accessibility, because they require tabbing through submenus to
 * traverse the entire nav. Instead, you have to activate the trigger button with
 * enter/space to expand this disclosure, before you can tab down into it.
 * 
 * NOTE: this uses the CSS Anchor Positioning, Invoker Commands and Popover API's,
 * which are fairly recent additions:
 *     Popover: baseline Jan 2025 (89.17% coverage as of Mar 2026)
 *     Invoker Commands: baseline Dec 2025 (79.41% coverage as of Mar 2026)
 *     Anchor Positioning: baseline Jan 2026 (82.16% coverage as of Mar 2026)
 * 
 * To support users that don't have updated browsers, a fallback is implemented
 * below that uses Javascript to remove popover-specific code, show/hide the body,
 * position it, and force proper screen-reader behavior with aria-* attributes.
 * 
 * You should be able to remove the fallback script entirely once we can assume
 * broad support for anchor positioning - the general rule-of-thumb is 2 years
 * from baseline introduction. So, can remove it in Jan 2028.
 */

import type { HTMLAttributes } from "astro/types";
import { tv, type VariantProps } from "tailwind-variants";
import { twMerge } from 'tailwind-merge'
import { Button } from '@/components/base'

type Props =
  Omit<HTMLAttributes<"ul">, "id"> &
  Pick<VariantProps<typeof Button>,
    "variant" | "animation" | "label" | "iconBefore" | "icon" | "iconClass"> &
{
  /**
   * Alignment of the disclosure with respect to the trigger button.
   * @default start
   */
  align?: "start" | "center" | "end";

  /**
   * Additional classes to apply to the trigger button.
   */
  buttonClass?: string | string[];

  /**
   * Additional classes to apply to the container that holds the trigger and disclosure.
   */
  containerClass?: string | string[];
}

/*
  "exopen:" is a custom variant I wrote (see styles/globals.css). It checks all the
  cases that Tailwind's built-in "open:" variant does, plus it checks to see if any
  descendant of the group parent has "aria-expanded=true" set. This simplifies the
  javascript code for the fallback, since all we really have to change on a click
  is the value of aria-expanded on the button.

  Once you don't need the fallback anymore (Jan 2028), you can change all the
  "exopen:"/"not-exopen:" below back to "open:"/"not-open:".
 */
export const disclosure = tv({
  base: [
    "mt-[0.25em] p-[0.35em] flex flex-col",
    "bg-popover text-popover-foreground shadow-md border rounded-md",
    "overflow-x-hidden overflow-y-auto transition-discrete duration-350",
    "exopen:block not-exopen:hidden  exopen:fade-in not-exopen:fade-out",
    "exopen:animate-in not-exopen:animate-out not-exopen:fill-mode-forwards",
    "exopen:motion-safe:slide-in-from-top-4 not-exopen:motion-safe:slide-out-to-top-4",
  ],
  variants: {
    align: {
      start: "top-[anchor(bottom)] left-[anchor(left)]",
      center: "[position-area:bottom_center]",
      end: "top-[anchor(bottom)] right-[anchor(right)]",
    },
  },
  defaultVariants: {
    align: "start",
  },
})

// see middleware.ts for the "id" function.
const disclosureId = Astro.locals.id("base-nav-disclosure");

const {
  class: className,
  align = "start",
  variant = "ghost",
  animation,
  label,
  iconBefore,
  icon,
  iconClass,
  buttonClass,
  containerClass,
  ...rest
} = Astro.props;
---

<div class={twMerge("base-navdisclosure h-full group", containerClass)}>

  <Button type="button" commandfor={disclosureId} command="toggle-popover"
    label={label}
    variant={variant}
    animation={animation}
    icon={icon}
    iconBefore={iconBefore}
    iconClass={iconClass}
    class={twMerge(buttonClass)}
  />

  <ul id={disclosureId} popover
    class={disclosure({ align, class: className })}
    {...rest}
  >
    <slot />
  </ul>
</div>

<script>
/* Fallback: if anchor positioning API isn't available, use Javascript to mimic
 *           popover behavior with an absolute-positioned body and manually
 *           manipulating aria-* attributes on button click.
 * 
 * Implementation Notes:
 * 
 * There's a lot of conflicting advice online about how to best implement nav
 * disclosures with regards to accessibility details. The fallback behavior is
 * loosely based off of the behavior of the Example Disclosure Navigation Menu
 * from the APG here:
 *   https://www.w3.org/WAI/ARIA/apg/patterns/disclosure/examples/disclosure-navigation/#javascriptandcsssourcecode
 * 
 * I intentionally did not implement the optional arrow key navigation - this
 * component only uses tab and shift-tab to move around, default browser button
 * behavior (enter/space) to activate triggers, and escape or tabbing out to
 * close menus.
 * 
 * Most advice I could find does not recommend setting the "menu" and "menuitem"
 * roles for basic nav. Generally, menu/menu-item roles and the associated
 * keyboard semantics are really intended for full desktop-style menus (e.g.,
 * the menu bar in Google Docs), not website nav.
 * 
 * aria-controls was intentionally left out - while it's used in the example,
 * this attribute isn't really supported in modern screen readers, because in
 * practice it just added noise without providing any useful additional info.
 * This is especially true when the disclosure contents immediately follow the
 * triggering button in the DOM, as in this component.
 */
if (window.CSS && !CSS.supports('position-area', 'bottom')) {
  // Handle (mouse / touch / keyboard) activation of the trigger button.
  function handleButtonClick(this: HTMLElement) {
    this.ariaExpanded = (this.ariaExpanded === 'true')? 'false' : 'true';
  }

  // This will catch escape key presses that occur when either the trigger
  // or anything inside the disclosure is focused.
  function handleKeyDown(this: HTMLElement, e: KeyboardEvent) {
    if (e.key === 'Escape') {
      const button = this.querySelector(':scope > button');
      if (button?.ariaExpanded === 'true') {
        // Close the disclosure.
        button.ariaExpanded = 'false';
        // Make sure focus winds up back on the trigger button.
        if (button != e.target) {
          // @ts-expect-error (focusVisible is experimental, but harmless if unsupported
          button.focus({ focusVisible: true});
        }
        // Prevent browser itself from reacting to the escape key.
        e.preventDefault();
        // If we have nested disclosures, only close the level we're currently in,
        // not all levels.
        e.stopPropagation();
      }
    }
  }

  // Close the menu when focus has left the disclosure container (trigger & contents).
  // This could happen by tabbing out with the keyboard, or by clicking outside
  // the disclosure.
  function handleFocusOut(this: HTMLElement, e: FocusEvent) {
    if (!this.contains(e.relatedTarget as Node)) {
      const button = this.querySelector(':scope > button');
      // If disclosure is open, close it.
      if (button?.ariaExpanded === 'true') {
        button.ariaExpanded = 'false';
      }
    }
  }

  const initNavDisclosures = () => {
    // Loop over each navdisclosure container on the page.
    document.querySelectorAll(".base-navdisclosure").forEach((item) => {
      const container = item as HTMLElement;
      const button = container.querySelector(':scope > button'); //First <button> in container
      const disclosureBody = container.querySelector(':scope > ul'); // First <ul> in container
      
      // Remove popover-specific attributes and classes.
      button?.removeAttribute("commandfor");
      button?.removeAttribute("command");

      disclosureBody?.removeAttribute("popover");
      disclosureBody?.classList.remove(
        "top-[anchor(bottom)]",
        "left-[anchor(left)]",
        "right-[anchor(right)]",
        "[position-area:bottom_center]"
      );

      // Add attributes, classes and listeners needed for the fallback.
      container.classList.add("relative");

      button?.setAttribute("aria-haspopup", "true");
      button?.setAttribute("aria-expanded", "false");

      disclosureBody?.classList.add(
        "absolute",
        "z-50",
        "min-w-0",
        "right-0" //For fallback, just default to 'end' alignment, that's good enough
      );

      button?.addEventListener("click", handleButtonClick);
      container.addEventListener('keydown', handleKeyDown);      
      container.addEventListener('focusout', handleFocusOut);
    });
  }

  initNavDisclosures();
  document.addEventListener("astro:after-swap", initNavDisclosures);
}
</script>