---
/**
 * A disclosure (hidden contents revealed by a button trigger), specialized
 * for navigation menus. Uses the native popover API, which handles accessibility
 * for us without needing javascript.
 * 
 * This is not a flyout menu that reveals itself on hover/focus - those are
 * bad for accessibility, because they require tabbing through submenus to
 * traverse the entire nav. Instead, you have to activate the trigger button with
 * enter/space to expand this disclosure, before you can tab down into it.
 * 
 * NOTE: this uses the CSS Anchor and Popover API's, which are fairly recent
 * additions:
 *     Popover: Baseline Jan 2025 (86.67% coverage as of Feb 2026)
 *     Anchor: Baseline Jan 2026 (76.65% coverage as of Feb 2026)
 * 
 * To support users that don't have updated browsers, a fallback is implemented
 * in Nav.astro that bypasses the disclosure if the Anchor API isn't supported.
 * You should be able to remove this fallback in Jan 2028.
 */

import type { HTMLAttributes } from "astro/types";
import { tv, type VariantProps } from "tailwind-variants";
import { twMerge } from 'tailwind-merge'
import { Button } from '@/components/base'

type Props =
  Omit<HTMLAttributes<"ul">, "id"> &
  Pick<VariantProps<typeof Button>,
    "variant" | "animation" | "label" | "iconBefore" | "icon" | "iconClass"> &
{
  /**
   * Alignment of the disclosure with respect to the trigger button.
   * @default start
   */
  align?: "start" | "center" | "end";

  /**
   * Additional classes to apply to the trigger button.
   */
  buttonClass?: string | string[];

  /**
   * Additional classes to apply to the container that holds the trigger and disclosure.
   */
  containerClass?: string | string[];
}

export const disclosure = tv({
  base: [
    "mt-[0.25em] p-[0.35em] flex flex-col",
    "bg-popover text-popover-foreground shadow-md border rounded-md",
    "overflow-x-hidden overflow-y-auto transition-discrete duration-350",
    "open:block not-open:hidden  open:fade-in not-open:fade-out",
    "open:animate-in not-open:animate-out not-open:fill-mode-forwards",
    "open:motion-safe:slide-in-from-top-4 not-open:motion-safe:slide-out-to-top-4",
  ],
  variants: {
    align: {
      start: "top-[anchor(bottom)] left-[anchor(left)]",
      center: "[position-area:bottom_center]",
      end: "top-[anchor(bottom)] right-[anchor(right)]",
    },
  },
  defaultVariants: {
    align: "start",
  },
})

// see middleware.ts for the "id" function.
const disclosureId = Astro.locals.id("base-nav-disclosure");

const {
  class: className,
  align = "start",
  variant = "ghost",
  animation,
  label,
  iconBefore,
  icon,
  iconClass,
  buttonClass,
  containerClass,
  ...rest
} = Astro.props;
---

<div class={twMerge("base-navdisclosure h-full group", containerClass)}>

  <Button type="button" popovertarget={disclosureId}
    label={label}
    variant={variant}
    animation={animation}
    icon={icon}
    iconBefore={iconBefore}
    iconClass={iconClass}
    class={twMerge(buttonClass)}
  />

  <ul id={disclosureId} popover="auto"
    class={disclosure({ align, class: className })}
    {...rest}
  >
    <slot />
  </ul>
</div>
