---
import { Icon } from 'astro-icon/components'

import Logo from "@/components/Logo.astro"
import Link from "@/components/Link.astro"
import { Dropdown, DropdownTrigger, DropdownContent, DropdownItem } from "@/components/starwind/dropdown";
import { Button } from "@/components/starwind/button";
import { ThemeToggle } from "@/components/starwind/theme-toggle";
import { Sheet, SheetContent, SheetTrigger, } from "@/components/starwind/sheet";


/**
 * Header Component
 *
 * @description A component that displays the logo and navbar of the website
 */

const maxItems = 4;

const items = [
  { label: "Services",
    href:  "/services/",
  },
  { label: "Give",
    href:  "/give/",
  },
  { label: "Contact",
    href:  "/contact/",
  },
  { label: "Volunteer",
    href:  "/volunteer/",
  },
  { label: "News",
    href:  "/news/"
  },
  { label: "Our Values",
    href:  "/our-values/"
  },
  { label: "Documents",
    href:  "/documents/"
  },
];

const icons = [
  { name: 'facebook',
    href: "https://facebook.com/cccgainesville",
    alt:  "Go to our Facebook page",
  },
  { name: 'instagram',
    href: "https://instagram.com/cccmainoffice",
    alt:  "Go to our Instagram page",
  },
];

const doDropdown = (items.length > maxItems);
const split = doDropdown? maxItems - 1 : items.length;
---

<header class="text-md max-fullnav:sticky max-fullnav:shadow-md max-fullnav:top-0 max-fullnav:z-50 py-(--sp-md) bg-background/80 backdrop-blur-lg">
  
  {/* Skip Link (visually hidden but accessible via keyboard focus) */}
  <a href="#main-content" class:list={[
      "rounded-lg sr-only focus:not-sr-only",
      "focus:absolute focus:top-(--sp-sm) focus:left-(--sp-sm)",
      "focus:z-50 focus:p-(--sp-sm) focus:bg-wb focus:text-bw"]} >
    Skip to main content
  </a>

  <div class="max-w-(--content-max) h-(--sp-2xl) px-(--sp-2xs) mx-auto flex flex-wrap justify-between items-center">
    
    {/* Logo / Home Link */}
    <div class="flex shrink-0 items-center">
      <Logo/>
    </div>

    
    <nav class="select-none">
      {/* Full menu: visible when width >= fullnav */}
      <ul class="space-x-(--sp-xs) hidden fullnav:flex
        [&_li]:flex [&_li]:items-center">
      
      { /* Main text links along the top. */
        items.slice(0,split).map((item) => (
        <li>
          <Link href={item.href} variant="nav"
            class="py-(--sp-2xs) px-(--sp-3xs)"
          >
            {item.label}
          </Link>
        </li>
      ))}

      { /* Add additional links in a dropdown menu, if necessary. */
        doDropdown && (
          <li>
            <Dropdown>
              <DropdownTrigger asChild>
                <Button variant="ghost" size="lg"
                  class="text-md px-1! mx-0! cursor-pointer aria-expanded:[&_svg]:-scale-y-100">
                  More
                  <Icon name="tabler:chevrons-down" aria-hidden="true" />
                </Button>
              </DropdownTrigger>
              <DropdownContent align="end" class="p-(--sp-xs) --space-y-(--sp-sm)">

              {items.slice(split).map((item) => (
                <DropdownItem>
                  <Link href={item.href} variant="nav" class="text-lg">
                    {item.label}
                  </Link>
                </DropdownItem>
              ))}
              
              </DropdownContent>
            </Dropdown>
          </li>
        )
      }

      { /* Add social icons to the icon tray. */
        icons.map( (icon) => (
          <li class="flex shrink-0 items-center">
            <Link href={icon.href} aria-label={icon.alt} variant="icon-xs">
              <Icon name={icon.name} aria-hidden="true" size={28}/>
            </Link>
          </li>
        ))
      }

      {/* Add dark mode toggle to the icon tray. */}
        <li class="flex shrink-0 items-center">
          <ThemeToggle size="icon-xs" ariaLabel="Toggle dark mode"
            class:list={["[&_svg]:size-7 cursor-pointer",
              "motion-safe:hover:[&_svg]:animate-rotate",
              "motion-safe:focus-visible:[&_svg]:animate-rotate"]}
          />
        </li>
      </ul>

      {/* Menu button: visible when width < fullnav */}
      <div class="flex fullnav:hidden shrink-0 items-center">
        <SheetTrigger asChild for="mobile-nav">
          <Button size="lg" animation="raise-boop">
            Menu
            <Icon name="tabler:menu-2" aria-hidden="true" />
          </Button>
        </SheetTrigger>
      </div>

      <Sheet id="mobile-nav">
        <SheetContent side="right" class="py-(--sp-lg)">
          <ul class="flex flex-col h-full justify-between">
            <div class="flex flex-col gap-(--sp-md) text-lg">
              <li>
                <Link href="/" variant="nav">
                  Home
                </Link>
              </li>

              {items.map((item) => (
              <li>
                <Link href={item.href} variant="nav">
                  {item.label}
                </Link>
              </li>
              ))}
            </div>
            <div class="flex flex-row justify-center place-items-center gap-(--sp-2xl)">
              {/* Add social icons to the icon tray. */
              icons.map( (icon) => (
                <li>
                  <Link href={icon.href} aria-label={icon.alt} variant="icon">
                    <Icon name={icon.name} aria-hidden="true" size={32}/>
                  </Link>
                </li>
              ))}
              {/* Add dark mode toggle to the icon tray. */}
              <li class="flex shrink-0 items-center">
                <ThemeToggle ariaLabel="Toggle dark mode"
                  class:list={["[&_svg]:size-8! cursor-pointer",
                    "motion-safe:hover:[&_svg]:animate-rotate",
                    "motion-safe:focus-visible:[&_svg]:animate-rotate"]}/>
              </li>
            </div>
          </ul>
        </SheetContent>
      </Sheet>
    </nav>
  </div>
</header>
