---
import '@/styles/globals.css'
import SiteMeta from '@/components/SiteMeta.astro'
import NavBar from '@/components/NavBar.astro'
import Footer from '@/components/Footer.astro'


// Used for preloading.
const fontPath = "/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.woff2";

const {
  title = 'Christians Concerned for the Community',
  description = 'CCC is a Christian charity based in Gainesville, FL that provides used furniture and builds wheelchair ramps for our neighbors in Alachua County.',
  author = 'Christians Concerned for the Community',
  alwaysHide = false,
  preloadImg,
  renderBlock = "#main-navigation",
  class: className,
} = Astro.props
---

<html lang="en" dir="ltr" class="min-h-dvh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- for staging builds, or pages that pass alwaysHide=true, tell search engine bots not to index this page (even if crawled) -->
    {(Astro.site?.hostname.startsWith("staging") || alwaysHide) &&
      <meta name="robots" content="noindex, nofollow">
    }

    <!-- preload our main font, so that it's not chained after the main CSS file -->
    <link rel="preload" as="font" type="font/woff2" href={fontPath} crossorigin="anonymous" />
    {preloadImg && (
      <link rel="preload" fetchpriority="high" as="image" href={preloadImg} type="image/webp">
    )}

    <!-- favicon stuff -->
    <!-- https://dev.to/masakudamatsu/favicon-nightmare-how-to-maintain-sanity-3al7 -->
    <link rel="icon" href="/favicon.ico" sizes="48x48" >
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="manifest" href="/site.webmanifest" crossorigin="use-credentials"/>
    
    <!-- sitemap hint -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- prevent view transition from happening until enough of page is loaded -->
    <!--   see: https://vtbag.dev/basics/pseudos/#delaying-cross-document-transitions -->
    <link rel="expect" href={renderBlock} blocking="render" />

    <SiteMeta
      title={title}
      description={description}
      url={Astro.site?.toString() || "cccgainesville.org"}
      image='social-preview.png'
      author={author}
    />
  </head>
  <body class="min-h-dvh flex flex-col overflow-x-clip">
    <NavBar />
    <main id="main-content" class:list={["grow shrink-0 basis-auto", className]}>
      <slot />
    </main>
    <Footer class="shrink-0" />
  </body>
</html>


{/*
  Script that applies the dark mode settings on page load.

  See: src/components/starwind/theme-toggle/ThemeToggle.astro
*/}
<script is:inline>
  function initTheme() {
    const colorTheme = localStorage.getItem("colorTheme");
    if (!colorTheme) {
      if (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) {
        document.documentElement.classList.add("dark");
        localStorage.setItem("colorTheme", "dark");
      } else {
        document.documentElement.classList.remove("dark");
        localStorage.setItem("colorTheme", "light");
      }
    } else {
      if (colorTheme === "dark") {
        document.documentElement.classList.add("dark");
      } else if (colorTheme === "light") {
        document.documentElement.classList.remove("dark");
      } else if (colorTheme === "system") {
        const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
        document.documentElement.classList.toggle("dark", prefersDark);
      }
    }
  }

  initTheme();
  document.addEventListener("astro:after-swap", initTheme);
</script>