---
import '@/styles/globals.css'
import type { HTMLAttributes } from 'astro/types'
import {
  SiteMeta,
  captchaPreconnect,
  captchaAttribution,
  captchaEveryPage,
  captchaComponent as Captcha,
} from '@/components/base'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'

// Used for preloading.
const fontPath = "/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.woff2";

/**
 * BaseLayout
 * 
 * Contains HTML head tag, common scripts, and the root HTML layout used
 * for every page on the site.
 */
export interface Props extends HTMLAttributes<"main"> {
  /**
   * The title of the page
   */
  title: string,
  
  /**
   * Site / page description (used in site metadata tags)
   */
  description?: string,

  /**
   * Author of page (used in site metadata tags).
   */
  author?: string,

  /**
   * Always hide this page from search engines, even on production builds.
   * @default false
   */
  alwaysHide?: boolean

  /**
   * Performance profile. Certain pages can benefit from additional optimizations,
   * depending on what features they use.
   *   'givelively' - add optimizations for an embedded Give Lively donation widget
   *   'captcha' - add optimizations for an embedded captcha widget
   */
  profile?: ('givelively' | 'captcha')[]
}

const {
  title = 'Christians Concerned for the Community',
  description = 'CCC is a Christian charity based in Gainesville, FL that provides used furniture and builds wheelchair ramps for our neighbors in Alachua County.',
  author = 'Christians Concerned for the Community',
  alwaysHide = false,
  profile,
  class: className,
} = Astro.props
---

<html lang="en" dir="ltr" class="min-h-dvh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {/* for staging builds, or pages that pass alwaysHide=true, tell search engine bots not to index this page (even if crawled) */}
    { (Astro.site?.hostname.startsWith("staging") || alwaysHide) && (
      <meta name="robots" content="noindex, nofollow">
    )}

    {/* preload our main font, so that it's not chained after the main CSS file */}
    <link rel="preload" as="font" type="font/woff2" href={fontPath} crossorigin="anonymous" />

    {/* profile-specific preloads 

        TODO: this is still too many preload/preconnect instructions.
              Go through them and test to see which ones actually help.
      */}
    {profile?.includes('givelively') && (
      <link rel="preconnect" href="https://secure.givelively.com">
      <link rel="preconnect" href="https://use.fontawesome.com">
      <link rel="preconnect" href="https://m.stripe.com">
      <link rel="preconnect" href="https://js.stripe.com">
      <link rel="preconnect" href="https://apis.google.com">
      <link rel="preconnect" href="https://maps.googleapis.com">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="preconnect" href="https://use.typekit.net">
      <link rel="preconnect" href="https://o353201.ingest.us.sentry.io">
      <link rel="preconnect" href="https://js.datadome.co">
      <link rel="preconnect" href="https://api-js.datadome.co">
      <link rel="preconnect" href="https://js.captcha-display.com">
      <link rel="preconnect" href="https://static.hotjar.com">
    )}
    {(captchaEveryPage || profile?.includes('captcha')) && captchaPreconnect && (
      <link rel="preconnect" href={captchaPreconnect}>
    )}

    {/* favicon stuff - see:
        https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs */}
    <link rel="icon" href="/favicon.ico" sizes="32x32" >
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    
    {/* sitemap hint */}
    <link rel="sitemap" href="/sitemap-index.xml" />

    <SiteMeta
      title={title}
      description={description}
      url={Astro.site?.toString() || "cccgainesville.org"}
      image='social-preview.png'
      author={author}
    />

    {/*
      Script that applies the dark mode settings on page load.
      See: src/components/base/DarkModeToggle.astro

      Also sets the 'js' class so that we can detect Javascript with CSS.
      See: src/styles/globals.css (js custom variant)
    */}
    <script>
    {
      const cl = document.documentElement.classList;
      const colorTheme = localStorage.getItem("colorTheme");
      cl.toggle("dark",
        colorTheme?
          colorTheme==="dark"
          :
          window.matchMedia("(prefers-color-scheme: dark)").matches
      );

      cl.add("js");
    }
    </script>

  </head>
  <body class="min-h-dvh flex flex-col overflow-x-clip">
    <Header />
    <main id="main-content" class:list={["grow shrink-0 basis-auto", className]}>
      <slot />
    </main>
    <Footer class="shrink-0">
      {captchaEveryPage && (<Captcha />)}
      {captchaEveryPage && captchaAttribution && (
      <section class="text-sm mt-md text-current/85 max-w-(--content-max) w-full text-center">
        {captchaAttribution}
      </section>
      )}
    </Footer>
  </body>
</html>
