---
import { Form, FormField } from '@/components/base';
import { defineAction } from 'astro:actions';
import { z } from 'astro/zod';
import { zc, zclimits } from "./zod-common.ts"

export const MAX_MESSAGE = 1500;

export const handleForm = defineAction({
  accept: 'form',
  input: z.object({
    name: zc.full_name,
    email: zc.email,
    phone: zc.us_phone,
    message: z
      .string("Type in your message to us.")
      .max(MAX_MESSAGE, "Message is too long, max is 1500 characters.")
  }),
  handler: async ({ name, email, phone, message}) => {
    /* TODO: implement this method */
    console.log(`Name: ${name}`);
    console.log(`Email: ${email}`);
    console.log(`Phone: ${phone}`);
    console.log(`Message:\n----\n${message}\n----`);
  },
});

---

<Form turnstileKey="" handlerAction="handleContactForm"
  submitButton={{
    label:"Send Message"
  }}
>
  <FormField name="name"    label="Name"    type="full-name" required maxlength={zclimits.full_name} />
  <FormField name="email"   label="Email"   type="email"     required maxlength={zclimits.email} />
  <FormField name="phone"   label="Phone"   type="tel"       required maxlength={zclimits.us_phone} />
  <FormField name="message" label="Message" type="textarea"  required maxlength={MAX_MESSAGE} />
</Form>
