---
import { Form, FormField, formUtil } from '@/components/base';
import { defineAction } from 'astro:actions';
import { z } from 'astro/zod';
import { zc, zclimits } from "./zod-common.ts"

export const MAX_MESSAGE = 1500;

export const handleForm = defineAction({
  accept: 'form',
  input: z.looseObject({
    name: zc.full_name,
    email: zc.email,
    phone: zc.us_phone,
    message: z
      .string("Type in your message to us.")
      .max(MAX_MESSAGE, "Message is too long, max is 1500 characters."),
  }),
  handler: async (input, context) => {
    // Needs to be in every form handler
    await formUtil.turnstile.validate(input, context);

    /* TODO: implement this method */
    console.log(`Name: ${input.name}`);
    console.log(`Email: ${input.email}`);
    console.log(`Phone: ${input.phone}`);
    console.log(`Message:\n----\n${input.message}\n----`);
  },
});

---

<Form handlerAction="handleContactForm">
  <FormField name="name"    label="Name"    type="full-name" required maxlength={zclimits.full_name} />
  <FormField name="email"   label="Email"   type="email"     required maxlength={zclimits.email} />
  <FormField name="phone"   label="Phone"   type="tel"       required maxlength={zclimits.us_phone} />
  <FormField name="message" label="Message" type="textarea"  required maxlength={MAX_MESSAGE} />

  <div slot="success">
    Thanks for reaching out! We'll get back to you shortly.
  </div>
</Form>
